
.todoadd{
    display: inline-block;
    height: 30px;
    width: 330px;
    border: 1px solid grey;
    border-radius: 2%;
    margin-left:20px;
    margin-top:20px;

}
.addbtn{
    background-color: greenyellow;
    font-size: 15px;
    display: inline-block;
    height: 30px;
    margin-left:30px;
}