.foot{
    margin-left: 30px;
}
span{
    display: inline-block;
    width: 280px;
    margin-left:15px;
}
.btnn{
    background-color: rgb(255, 0, 106);
    color:white;
    font-size: 15px;
    border-radius: 2%;
    height: 30px;
}